*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.clock {
  display: flex;
  align-items: center;
  gap: .75rem;
  color: #fff;
}

.flip-unit-container {
    display: flex;
    gap: .25rem;
}

.separator {
    font-size: 6rem;
    line-height: 1;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  font-size: 6rem;
  width: 70px;
  height: 100px;
  line-height: 100px;
  border-radius: .5rem;
  background: #222;
  color: #f0f0f0;
}

.top, .bottom {
  height: 50%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.top {
  line-height: 100px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.bottom {
  line-height: 0;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.flip-card .top::after, .flip-card .bottom::before {
    content: attr(data-value);
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    background: #333;
    color: #f0f0f0;
    border-radius: inherit;
}

.flip-card .top::after {
    content: attr(data-before);
    top: 0;
    line-height: 100px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transform-origin: bottom;
    animation: flip-top 250ms ease-in;
}

.flip-card .bottom::before {
    content: attr(data-after);
    bottom: 0;
    line-height: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transform-origin: top;
    animation: flip-bottom 250ms ease-out 250ms;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.flip-card.flip {
    animation: flip-card 500ms ease-in-out;
}

.flip-card.flip .top::after {
    animation-name: flip-top;
}

.flip-card.flip .bottom::before {
    animation-name: flip-bottom;
}
